# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk


# =========================
# Operating System Files
# =========================
.vs/
.vscode/
.idea/
myFeed.Repositories/Migrations
myFeed.Repositories/obj
myFeed.Repositories/bin
myFeed.Tests/obj
myFeed.Tests/bin
myFeed.ViewModels/obj
myFeed.ViewModels/bin
myFeed.Services/obj
myFeed.Services/bin
myFeed.Views.Uwp/Assets
myFeed.Views.Uwp/obj
myFeed.Views.Uwp/bin
myFeed.Views.Uwp/BundleArtifacts

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*
.user
*.lock.json
*.pfx
*.txt
*.suo
*.user

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.pdb
*.suo
*.pri
*.cache
*.resfiles
*.ps1
*.user
*.appx
*.pfx
*.appxmanifest
