# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk


# =========================
# Operating System Files
# =========================
.vs/
.vscode/
.idea/
packages/
MyFeed.Tests/obj
MyFeed.Tests/bin
MyFeed/obj
MyFeed/bin
MyFeed.Droid
MyFeed.Uwp/AppPackages
MyFeed.Uwp/Package.StoreAssociation.xml
MyFeed.Uwp/Package.xml
MyFeed.Uwp/obj
MyFeed.Uwp/bin
MyFeed.Uwp/BundleArtifacts
MyFeed.Uwp.Notifications/obj
MyFeed.Uwp.Notifications/bin

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*
.user
*.lock.json
*.pfx
*.txt
*.suo
*.user

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.pdb
*.suo
*.pri
*.cache
*.resfiles
*.ps1
*.user
*.appx
*.pfx
MyFeed.Views.Uwp/Package.StoreAssociation.xml
MyFeed.Uwp/Package.xml
MyFeed.Uwp/Package.xml
