# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk


# =========================
# Operating System Files
# =========================
.vs/
.vscode/
.idea/
packages/
myFeed.Tests/obj
myFeed.Tests/bin
myFeed/obj
myFeed/bin
myFeed.Uwp/Assets
myFeed.Uwp/AppPackages
myFeed.Uwp/Package.StoreAssociation.xml
myFeed.Uwp/obj
myFeed.Uwp/bin
myFeed.Uwp/BundleArtifacts
myFeed.Uwp.Notifications/obj
myFeed.Uwp.Notifications/bin
myFeed.sln

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*
.user
*.lock.json
*.pfx
*.txt
*.suo
*.user

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.pdb
*.suo
*.pri
*.cache
*.resfiles
*.ps1
*.user
*.appx
*.pfx
*.appxmanifest
myFeed.Views.Uwp/Package.StoreAssociation.xml
